@import "tailwindcss";

.login-container {
  @apply flex flex-col rounded-2xl w-[500px] h-[600px] border-2 items-center bg-[#f0eee7];
}

.login-heading {
  @apply text-4xl font-semibold mt-[-8px];
}

.login-subtitle {
  @apply text-2xl font-extralight;
}

.login-input {
  @apply block border-2 rounded-3xl w-full h-[50px] px-4 py-2 border-gray-500;
}

.login-input-wrapper {
  @apply mt-10 flex flex-col justify-center items-center w-[80%] text-xl font-extralight;
}

.login-button {
  @apply mt-4 w-[80%] h-[50px] bg-primary hover:bg-primary-hover cursor-pointer text-white text-xl rounded-3xl;
}

.login-footer {
  @apply mt-2 font-light;
}

.signup-button {
  @apply bg-transparent border-none text-[#55AC65] font-medium;
}

.forgot-password {
  @apply flex justify-end mt-2 w-[80%] text-xl font-light;
}

.code-div {
  @apply flex gap-4 h-12;
}

.code-cell {
  @apply h-[100%] w-10 border-2 rounded-xl text-3xl text-center;
}
