ENVIRONMENT=

USER_SERVICE_PORT=

SESSION_SERVICE_PORT=

USER_SERVICE_UUID=

AZURE_REDIS_CACHE_URL=
AZURE_REDIS_CACHE_PORT_TLS=6380
AZURE_REDIS_ACCESS_KEY=
USER_OBJECT_ID=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_DB=mercypher
POSTGRES_HOST=localhost
USER_LOCAL_DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

EMAIL_APP_PASS=
EMAIL_CLIENT=
SMTP_HOST=
TLS_SMTP_PORT=587
SSL_SMTP_PORT=465

REDIS_ADDRESS=localhost:6379
#User and pass are meant to be empty for local dev
REDIS_USER=
REDIS_PASS=

SESSION_CONTAINER_APP_URL=